{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add new page
{% endblock %}

{% block body %}
   
    <h1>Add Entry</h1>
        <form action="{% url 'encyclopedia:add' %}" method="post" class="add">
                {% csrf_token %}
                <input type="text" name="entry" id="id_title" class="title" placeholder="Entry Title">
                <textarea name="content" id="id_content" class="content" placeholder="Content"></textarea>
                <input type="submit" value="Submit">            
        </form>
    <a href="{% url 'encyclopedia:index' %}">View All Entries </a>
{% endblock %}