{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{category}} </h2>
    <h2>Active Listings</h2>

    {% if auctions %}
        <ul class="listing">
            {% for auction in auctions %}
                <li class="Element">
                    {% if auction.image%}
                        <img src="{{ auction.image }}" alt="Image for {{ auction.title }}">
                    {% else %}
                        <img src="https://via.placeholder.com/300" alt="Placeholder Image">
                    {% endif %}
                    <a href="{% url 'listingPage' auction.id %}">{{ auction.title }}</a>
                    <p>{{ auction.description }}</p>
                    <p>Current bid: ${{ auction.starting_bid }}</p>
                   
              
                </li>
            {% endfor %}
            
        </ul>
    {% else %}
        <p>No active listings in this category.</p>
    {% endif %}
    

{% endblock %}