{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ auction.title }}</h2>
    
    <div class="listingPage">
        {% if user.is_authenticated %}
            {% if user == auction.user %}
                <p class="closed">
                    This auction is closed. You can search another auction at 
                    <a href="{% url 'index' %}">Active Listings</a>.
                </p>
            {% elif user == auction.current %}
                <p class="win">Congratulations, You won this auction!</p>
            {% else %}
                <p class="closed">
                    This auction is closed. You can search another auction at 
                    <a href="{% url 'index' %}">Active Listings</a>.
                </p>
            {% endif %}
        {% endif %}
        <div class="image-container">
            {% if auction.image%}
                <img src="{{ auction.image }}" alt="Image for {{ auction.title }}">
            {% else %}
                <img src="" alt="There is no Image for this Auction">
            {% endif %}
        </div>
       
        <p>Description: {{ auction.description }}</p>
        <p>Final bid: ${{ auction.starting_bid }}</p> 
        <p>Latest bid was by: {{ auction.current }}</p>
        <p>Category: <a href="{% url 'category'  auction.category %}">{{ auction.category }}</a>  </p>
        <p>Created by: {{ auction.user }}</p>
       
    </div>
    
{% endblock %}
