{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Your listings</h3>
    {% if auctions %}
        <ul class="listing">
            {% for auction in auctions %}
                <li class="Element">
                    {% if auction.image%}
                        <img src="{{ auction.image }}" alt="Image for {{ auction.title }}">
                    {% else %}
                        <img src="https://via.placeholder.com/150x150" alt="Placeholder Image">
                    {% endif %}
                    <a href="{% url 'listingPage' auction.id %}">{{ auction.title }}</a>
                   
                    <p>Category: {{ auction.category }}</p>
                    
                    {% if auction.active %}
                        <p>This auction is open.</p>
                        <p>Current bid: ${{ auction.starting_bid }}</p>
                        <p>Latest bid was by: {{auction.current}}</p>
                    {% else %}
                        <p>This auction is closed.</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no listings.</p>
    {% endif %}
{% endblock %}

    
