textarea {
    min-height: 400px;
}
body {
    background-color: #363434;  /* Dark gray */
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
}
a {
    color: #cbbbbb;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.error{
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}
.form {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #524f4f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.register-form{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #524f4f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.container{
    max-width: calc(100% - 180px); /* Adjust width based on sidebar */
    margin-left: 180px; /* Push the container to the right */

    padding: 20px;
    border-color: #fdf5f5;
    border-radius: 5px;
    background-color: #524f4f;
}
h2{
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 15px;
    width: 50%;
    margin-left: 25%;
}
.btn-primary{
    background-color: #fff;
    border-color: #0b0a0a;
    color: #0f0e0e;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-align: center;
    font-size: 16px;
    margin-top: 32px;
    margin-left: 45%;

}
.btn-outline-primary{
    background-color: #fff;
    border-color: #0b0a0a;
    color: #0f0e0e;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-top: 32px;
    width: 100%;
    margin-top: 32px; 
    
}
.btn-outline-primary:hover{
    background-color: #504c4c;
    color: #fff;
    border-color: #fff;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    height: 100%;
    background-color: #333; 
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.email{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 32px;
}
.email:focus{
    border-color: #007bff;
    outline: none;
}
.email:hover{
    border-color: #007bff;
    animation: 0.3s;

}
.no-emails{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: azure;
}
.logo{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.compose-view{
    margin-left: 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.compose-form{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-group{
    margin-bottom: 15px;
    width: 50%;
    margin-left: 25%;
}
label{
    font-size: 16px;
    color: #f3f2f2;
}
.email-view{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 32px;
    background-color: rgb(183, 178, 178);
}